.form-item{
    background: url('../img/11.jpg');
    padding: 8%;
}
.form-content{
    padding-top: 1%;
}
#what-we-do{
    padding: 2%;
}
#about{
    background-size: cover;
}
.num-page{
    ul{
        li{
            a{
                background-color: black;
                color: white;
            }
        }
    }
}

.num-page{
    padding-left: 80%;
}

#footer-main{
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 1.5rem 0;
}
